:root {
  --primary-color: #3a6ea5;
  --secondary-color: #ebebeb;
  --accent1-color: #c0c0c0;
  --accent2-color: #ff6700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  color: #333;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  display: flex;
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  justify-content: space-around;
}
nav {
  text-align: right;
}
.navigation {
  display: flex;
  list-style: none;
  background-color: #3a6ea5;
  justify-content: center;
  gap: 50px;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #3a6ea5;
  padding: 10px;
  justify-content: space-between;
}
.navbar img {
  height: 80px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
}
.navigation a {
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
}

.navigation a:hover {
  color: white;
  font-weight: 1000;
  text-decoration: underline;
}

.borde {
  display: flex;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.content-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  width: 40%;
  text-align: left;
}
.image {
  width: 20%;
}
.image img {
  width: 100%;
  height: auto;
}
.hero {
  position: relative;
  text-align: center;
  color: white;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text h1 {
  font-size: 3em;
  margin: 0;
}
.hero-text p {
  font-size: 1.2em;
}
.hero-text button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.content {
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  background-image: url(https://picsum.photos/1900/400?id=1);
  background-repeat: no-repeat;
}
.hero-content {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.content h1 {
  margin-top: 0;
}
.content p {
  max-width: 600px;
  text-align: left;
  align-items: center;
}
.content img {
  margin-left: 20px;
}
.section-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-history {
  padding: 40px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Merriweather", serif;
}
.section {
  padding: 40px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.gallery {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.gallery-item {
  margin-right: 20px;
}
.gallery-item img {
  width: 300px;
  height: 200px;
  display: block;
}
figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}
img {
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
}
figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
.team-member {
  display: inline-block;
  margin: 20px;
  text-align: center;
}
.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.team-member p {
  margin: 5px 0;
}
.contact-info,
.contact-form {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  text-align: left;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-info div {
  width: 45%;
}
.contact-info p {
  margin: 5px 0;
}
.contact-info i {
  margin-right: 10px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form input,
.contact-form textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
.contact-form input[type="radio"] {
  width: auto;
  margin-right: 10px;
}
.contact-form label {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.checkbox input[type="checkbox"] {
  margin-right: 10px;
}
.checkbox label{
  white-space: nowrap;
  max-width: 200px;
  text-overflow: ellipsis;
}
.contact-form button {
  background-color: #ff6700;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.contact-form button:hover {
  background-color: #e03e00;
}
.footer {
  background-color: #3a6ea5;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  color: white;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  display: flex;
  gap: 1rem;
}
.Icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 36px;
}
