:root {
  --primary-color: #3a6ea5;
  --secondary-color: #ebebeb;
  --accent1-color: #c0c0c0;
  --accent2-color: #ff6700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  color: #333;
}
h1 {
  color: white;
  font-size: 3rem;
}
.contact-us h1 {
  color: black;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
header {
  display: flex;
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  justify-content: space-around;
}
.services {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: #fff;
}
.service {
  text-align: center;
  margin: 0 20px;
}
.service img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid #c0c0c0;
}
.service i {
  font-size: 2em;
  color: #333;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: #c0c0c0;
}
.about img {
  width: 50%;
  height: auto;
}
.about-text {
  max-width: 500px;
  margin-left: -150px;
  background-color: white;
  color: black;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.about-text button {
  padding: 10px 20px;
  background-color: #ff6700;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
nav {
  text-align: right;
}
.navigation {
  display: flex;
  list-style: none;
  background-color: #3a6ea5;
  justify-content: center;
  gap: 50px;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #3a6ea5;
  padding: 10px;
  justify-content: space-between;
}
.navbar img {
  height: 80px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
}
.navigation a {
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
}

.navigation a:hover {
  color: white;
  font-weight: 1000;
  text-decoration: underline;
}

.borde {
  display: flex;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.content-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  width: 40%;
  text-align: left;
}
.image {
  width: 20%;
}
.image img {
  width: 100%;
  height: auto;
}
.hero {
  position: relative;
  text-align: center;
  color: white;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 500px;
}
.hero-text p {
  font-size: 1.2em;
}
.hero-text button {
  padding: 10px 20px;
  background-color: #ff6700;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.content {
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #c0c0c0;
  background-image: url(../images/White-Water-Rafting.jpg);
  background-repeat: no-repeat;
}
.hero-content {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.content p {
  max-width: 600px;
  text-align: left;
  align-items: center;
}
.content img {
  margin-left: 20px;
}
.section-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-history {
  padding: 40px 20px;
  text-align: center;
  border-bottom: 1px solid #c0c0c0;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Merriweather", serif;
}
.section {
  padding: 40px 20px;
  text-align: center;
  border-bottom: 1px solid #c0c0c0;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.gallery {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.gallery-item {
  margin-right: 20px;
}
.gallery-item img {
  width: 300px;
  height: 200px;
  display: block;
}
figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}
img {
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
}
figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
.team-member {
  display: inline-block;
  margin: 20px;
  text-align: center;
}
.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.team-member p {
  margin: 5px 0;
}
.contact-info,
.contact-form {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  text-align: left;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-info div {
  width: 45%;
}
.contact-info p {
  margin: 5px 0;
}
.contact-info i {
  margin-right: 10px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form input,
.contact-form textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  width: 100%;
}
.contact-form input[type="radio"] {
  width: auto;
  margin-right: 10px;
}
.contact-form label {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.checkbox input[type="checkbox"] {
  margin-right: 10px;
}
.checkbox label {
  white-space: nowrap;
  max-width: 200px;
  text-overflow: ellipsis;
}
.contact-form button {
  background-color: #ff6700;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.contact-form button:hover {
  background-color: #e03e00;
}
.footer {
  background-color: #3a6ea5;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #c0c0c0;
  color: white;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  display: flex;
  gap: 1rem;
}
.Icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 36px;
}
iframe {
  border: 0;
}
#wireframe {
  color: white;
}
.container {
  display: grid;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}
.product {
  border: 1px solid #c0c0c0;
  padding: 10px;
  text-align: center;
  height: 162px;
  width: 238px;
}
.product img {
  height: auto;
}
.product-name {
  font-size: 14px;
  margin: 10px 0 5px;
}
.product-price {
  font-size: 14px;
  color: #333;
}
.product-rating {
  color: #f0c14b;
}
#large {
  flex: 1 1 30%;
  grid-row: 1/3;
  height: auto;
  width: 350px;
}
.small {
  flex: 1 1 20%;
  height: 250px;
}
.slider {
  overflow: hidden;
}
.slider > .slider-content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 500ms ease;
}

.slider > .slider-content > .slider-item {
  flex: 0 0 auto;
  width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content {
  transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content {
  transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content {
  transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content {
  transform: translateX(-300%);
}
.section-title {
  text-align: center;
  margin: 40px 0;
  font-size: 20px;
}
.border {
  border: 2px solid #c0c0c0;
}
.featured-products,
.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.product,
.product-item {
  text-align: center;
  margin: 0 10px;
  height: 250px;
  width: 250px;
  border: 2px solid #c0c0c0;
}
.featured-products > .product {
  height: 450px;
  width: 450px;
}
.product p,
.product-item p {
  margin: 10px 0;
}
.product-item {
  width: 150px;
}
.product small {
  height: 150;
  width: 150;
}
.about-your-shop {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  margin: 20px;
  border: 2px solid #c0c0c0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-grow: 1;
}
nav ul li {
  margin: 0 30px;
}
nav ul li a {
  text-decoration: underline;
  color: #333;
  font-size: 18px;
}
