body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.navigation {
  display: flex;
  list-style: none;
  background-color: #3a6ea5;
  justify-content: center;
  gap: 50px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  background-color: #3a6ea5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.navbar img {
  height: 80px;
  width: 80px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar a {
  display: flex;
  list-style: none;
  background-color: #3a6ea5;
  justify-content: center;
  gap: 50px;
  color: white;
}
.hero {
  position: relative;
  text-align: center;
  color: white;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text h1 {
  font-size: 3em;
  margin: 0;
}
.hero-text p {
  font-size: 1.2em;
}
.hero-text button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.services {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: #fff;
}
.service {
  text-align: center;
  margin: 0 20px;
}
.service img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid #e0e0e0;
}
.service h3 {
  margin: 10px 0;
}
.service i {
  font-size: 2em;
  color: #333;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: #d3b8a1;
}
.about img {
  width: 50%;
  height: auto;
}
.about-text {
  max-width: 500px;
  margin-left: -150px;
  background-color: #6b7a6e;
  color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.about-text h2 {
  margin-top: 0;
}
.about-text button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
.footer p {
  margin: 5px 0;
}
.footer a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}
.footer .social-icons {
  margin-top: 10px;
}
.footer .social-icons a {
  margin: 0 5px;
  color: #333;
  font-size: 1.5em;
}
